<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheGuanjia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0EDF2791C3169B400DF0DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0EDF2921C3169B400DF0DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0EDF29D1C3169B400DF0DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
